<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Modelo 3</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-4 mx-auto">
        <a
          class="text-black bg-white border-[3px] border-white/5 backdrop-blur-md text-sm rounded font-medium font px-12 py-2 cursor-pointer hover:bg-gray-600 hover:text-white transition-colors"
          href="#">Explorar Inventario</a
        >
        <a
          class="text-white bg-gray-600 border-[3px] border-gray-600/5 backdrop-blur-md text-sm rounded font-medium font px-12 py-2 cursor-pointer hover:bg-white hover:text-black transition-colors"
          href="#">Pedido Personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Model-3.webp"
      alt="Model 3"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
